*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.navigation{
    display: flex;
    justify-content: space-around;
    background-color: white;
    color: grey;
    border: 1px solid grey;
}

.logo-container img{
    margin-top: 20px; 
}

.list-container{
    display: flex;
    gap: 40px;
}

.list-item{
    list-style: none;
    margin: 20px 0;
}

.info-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    position: relative;
    
}

.image-chart{
    padding: 10px 0;
    margin-bottom: 60px;
}
.div-sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-sub button{
    display: inline-block;
    margin-top: 25px;
    padding: 10px 30px;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.2em;
    text-decoration: none;
    background-color: #387ed1;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,0) !important;
    border-radius: 3px;
    cursor: pointer
    
}

.div-sub button:hover{
    background-color: black;
}

.div-sub h1{
    font-size: 2.75rem;
    line-height: 1.25;
    font-weight: 500;
}

.div-sub h5{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.25rem;
    font-weight: 400;
}




.container{
    position: relative;
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.column-img{
    box-sizing: border-box;
    flex: 0 1 auto;
    margin: none;
    width: 70%;
}

.five{
    flex-basis: 39.3333333333%;
    width: 39.3333333333%;
}


.v-align{
    align-items: center;
    display: flex;
}

.between{
    justify-content: space-between;
}

.row{
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
}

.column{
    box-sizing: border-box;
    flex: 0 1 auto;
    margin: none;
}

.six{
    flex-basis: 48%;
    width: 48%;
}

.column .list-items{
    padding-left: 20px;
}

.column p{
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 15px;
}

.press-strip a{
    color: #387ed1;
    text-decoration: none;
    font-weight: 500;
    background-color: rgba(0,0,0,0);
}

.press-strip a p{
    border-style: none;
}