*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


.navigation{
    display: flex;
    justify-content: space-around;
    background-color: white;
    color: grey;
    border: 1px solid grey;
}

.logo-container img{
    margin-top: 20px; 
}

.list-container{
    display: flex;
    gap: 40px;
}

.list-item{
    list-style: none;
    margin: 20px 0;
}

